header {
  background-color: cornflowerblue;
  text-align: center;
  padding: 50px 0;
}

h2 {
  background-color: lightblue;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

h4 {
  margin-left: 20px;
}

form {
  margin-top: 40px;
  margin-bottom: 40px;
}

input {
  width: 80px;
  border-radius: 4px;
}

button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.inputs {
  display: inline-block;
  text-align: left;
}

.row {
  text-align: center;
}

.ticketHolder {
  width: 80%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.well {
  margin:10px 10px;
}
