header {
  background-color: lightblue;
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  margin-left: 20px;
}

form {
  margin-top: 40px;
  margin-bottom: 40px;
}

input {
  width: 80px;
  border-radius: 4px;
}

button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.inputs {
  display: inline-block;
  text-align: left;
}

.row {
  text-align: center;
}

.ticketHolder {
  width: 80%;
  display: table;
  margin-left:auto;
}

.well {
  margin-left: 20px;
}
